.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  font-size: 1.8rem;
  background-color: white;
}

.header__logo {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header a:first-child img {
  width: 130px;
}

.header__links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding-right: 15%;
}

.header__links a {
  cursor: pointer;
  color: var(--main-color);
  text-decoration: none;
  margin: 0 20px 0 20px;
}

.header__links a:hover {
  color: var(--yellow);
}

@media screen and (max-width: 768px) {
  .header a:first-child img {
    width: 70px;
    top: 25px;
    left: 10px;
  }
  .header__links {
    padding-right: 0;
  }
  .header__links a {
    margin: 0 10px 0 10px;
  }
  .header__logo {
    width: 25%;
  }
}
