.apply-main {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-image: url("../../img/abstract-g4624440da_1920.jpg");
  background-size: contain;
  display: flex;
  justify-content: center;
}

.apply__content {
  width: 25%;
  height: 60%;
  background-color: whitesmoke;
}

.apply__description {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: var(--main-color);
}

.apply__way {
  width: 100%;
  height: 30%;
  display: flex;
  align-content: flex-start;
  font-size: 2.3rem;
}

.apply__way__title {
  width: 20%;
  display: flex;
  justify-content: center;
}

.apply__way__content {
  width: 60%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .apply__content {
    width: 70%;
  }
}
