.main {
  width: 100%;
  height: 100%;
  line-height: 30px;
}

.main__wrap {
  width: 100%;
  height: 100%;
  display: flex;
}

.main__wrap:nth-child(2n-1) {
  background-color: black;
  color: white;
}

.main__text-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main__wrap:first-child .main__main-content {
  color: #0303ff;
}

.with-img {
  width: 60%;
}

.main__main-content {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.main__sub-content {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__link {
  margin-top: 50px;
  font-size: 1.7rem;
}

.main__image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .main__image-box img {
    width: 250px;
  }
  .main__wrap {
    flex-direction: column-reverse;
  }
  .with-img {
    width: 100%;
    height: 60%;
  }
}
